.custom-sp-container {
  margin-top: 3rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.custom-sp-title {
  font-size: 1.1rem;
  /* color: var(--ion-color-dark-tint); */
  color: var(--ion-color-primary-shade);
  text-transform: uppercase;
  font-weight: 600;
}
