.block {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  margin: auto;
  height: 250px;
  width: 82%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 0 0 var(--ion-color-medium-tint);
}

/* ion-modal {
  --height: auto;
  --width: 80%;
  --border-radius: 0.5rem;
} */

.moods {
  display: flex;
  margin-bottom: 2rem;
  column-gap: 1rem;
}

.mood {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mood-angry {
  background-color: var(--ion-color-danger);
}

.mood-happy {
  background-color: var(--ion-color-success);
}

.mood-sad {
  background-color: var(--ion-color-tertiary);
}

.emoji-large {
  font-size: 2.65rem;
}

.emoji-small {
  font-size: 1.25rem;
}

.btns {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.btn {
  width: 45%;
}
