.entries-container {
    margin-bottom: 3rem;
}

.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: darkslategray;
  margin: 1rem 0.5rem;
}

.entries-more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

h1 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 22px;
  font-weight: 700;
}

p {
  margin: 0;
  padding: 0;
}
